@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body {
  background: #000;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

button {
  padding: 20px 60px;
  font-size: 2rem;
  background: transparent;
  border: 4px solid #00ffff;
  color: #00ffff;
  borderRadius: "15px";
  cursor: pointer;
  box-shadow: 0 0 40px #00ffff;
  transition: all 0.3s;
}

button:hover {
  background: #00ffff;
  color: #000;
}